SELECT COUNT(*) as total_records FROM ops.settlement_entry;
SELECT merchant_id, COUNT(*) as records FROM ops.settlement_entry GROUP BY merchant_id ORDER BY records DESC LIMIT 5;
SELECT MIN(expected_settlement_date) as min_date, MAX(expected_settlement_date) as max_date FROM ops.settlement_entry;
